* {
    font-family: 'Libre Baskerville', sans-serif;
    color:white;
    margin:0;
}

body {
    height:100%;
    width:100%;
    margin:0;
    background-color: #9dc0cf;
}

h3{
    font-size: 2.5em;
}

#content {
    /* border-left:.5rem solid grey; */
}

/* HEADER */

.title {
    max-width: 30%;
    height:auto;
    background-color: #9dc0cf;
    margin-left:0 20px;
    font-size: 4rem;
}

.header {
    height:15vh;
    background-color: #cfac9d;
    font-family: 'Libre Baskerville', sans-serif;
    font-weight: bolder;
    color:#cfac9d;
    border-bottom: 5px solid grey;
}

.container {
    max-width:100%;
    padding:20px;
    margin: 0 auto;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-flow: row wrap;
}

.nav ul {
    margin-left: auto;
}

.nav li {
    display: inline;    
}

.nav a { 
    display: inline-block;
    padding: .5em 1.5em;
    font-size: 2em;
}

.header h1{
    padding-left:20px;
}

/* HERO IMAGE */

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://as2.ftcdn.net/v2/jpg/01/35/37/37/1000_F_135373713_MNcmHeR1JfrwDA4Cl0rORbNyIdQdgxls.jpg");
    height: 20vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

  .hero-text2 {
    color:white;
  }

  /* MAIN BODY */

  .body {
    background-color: #9dc0cf;
    border-top: 5px solid grey;
    margin:0;
    display:flex;
    flex-direction:column;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    background-color: #9dc0cf;
}

.side {
    flex: 1 0 20%;
}

.content {
    flex: 2 0 80%;
    border-left: 10px solid grey;
}
/* 
.section {
    width:70%
} */

  /* ABOUT ME */

/* 
 .about-me-side {
    max-width:30%;
    margin-left:10vw;
} */
/* 
 .about-me {
    display:flex;
    justify-content: space-around;
    flex-wrap:wrap;
    align-items:center;
} */


/* ABOUT ME CONTENT */
.me img {
    max-width:15vw;
    border:#cfac9d solid .5rem;
    /* padding:.5rem; */
    margin:.5rem;
}

.me-content {
    display:flex;
    flex: column wrap;
    max-width: 70%;
    align-items:flex-start;
    /* flex:1 0 100%; */
    padding:.5rem; 
    margin:2rem;
    font-size: 1.5em;
}

/* WORK */

 .body .work {
    display:flex;
    justify-content: space-around;
    flex-wrap:wrap;
    align-items:center;
}

/* WORK CONTENT */

.work-content{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding:.5rem;
    margin:2rem;
    /* width:70%; */
}

.apps {
    display:flex;
    flex-flow: wrap row;
    justify-content: space-between;
    position:relative;
    color:white;
    margin:1rem;
}

.first {
    flex:2 1 0;
    width:70vw;
}

.others {
    flex: 1 0 25vw; 
    max-width:25vw;
}

.app-img {
    opacity: 0.5;
    border:#cfac9d solid .5rem;
    padding:0;
}

.app-img:hover {
    opacity: 1;
}

.app-text {
    flex:1 1 auto;
    position:absolute;
    left:.4%;
    bottom:20%;
    background-color: #cfac9d;
    padding:2%;
    font-size: 2rem;
    text-align: center;
}

/* CONTACT */
/* 
.contact-side {
    width:20%;
    margin-left:10vw;
} */

 .body .contact {
    display:flex;
    flex-flow:row wrap;
    justify-content: space-between; 
    flex-flow:row wrap;
    /* width:60%; */
}

/* CONTACT CONTENT */

.contact-content {
    display:flex;
    flex-flow: row wrap;
    gap: 20px;
    padding:.5rem;
    list-style-type: none;
    font-size: 1.5rem;
}
 
@media screen and (max-width:1160px){
    .header{
        flex-direction: row;
    }
    .nav {
        display:flex;
        flex-direction: row;
        width:100vw;
        height:20vh;
        justify-content: center;
    }
}
